body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
    background:url("technovate.gif");
    background-repeat : no-repeat;
    background-size : cover;
    background-attachment: fixed

}
@font-face {
    font-family: 'pasadena-serialbold';
    src: url('pasadena-serial-bold-webfont.woff2') format('woff2'),
         url('pasadena-serial-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'pasadena-serialbold';
    font-weight: 700;
}
body.preloader-site {
    overflow: hidden;
}

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 120px;
}

#content{
    min-height: 100px;
}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg_1.jpg) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

#item_list {
    padding-top: 50px;
}
#wrapper, #loginform {
    margin:0 auto;
    padding-bottom:25px;
    background:#EBF4FB;
    width:504px;
    border:1px solid #ACD8F0; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:430px;
    border:1px solid #ACD8F0;
    overflow:auto; }
  
#usermsg {
    width:395px;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}
.logo_image{
    float:left;
    max-height:200px;
    max-width:200px;
}

#login-panel .panel-footer{
    font-weight:normal;
  /*  position: absolute;
    bottom: 0px;*/
}
.noticeheader{
font-size : 40px;
}

footer {
    position:fixed;
    padding: 5px 0;
    background-color: #101010;
    color:#9d9d9d;
    font-family : 'Times New Roman';
   /* bottom: 0;
*/  width: 100%;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:10px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
}